<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo" routerLink="/">Best Movies</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li>
        <a routerLink="/categories" routerLinkActive="active">Categories</a>
      </li>
      <li><a routerLink="/years" routerLinkActive="active">Years</a></li>
      <li><a routerLink="/add-movie" routerLinkActive="active">Add Movie</a></li>
      <li>
        <a routerLink="/http-test" routerLinkActive="active">HTTP Test</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
